footer {
  background: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  width: 100%;

  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 20px;

    a {
      color: #fff;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    .footer-social {
      color: #fff;
      text-decoration: none;
      display: flex;
      align-items: center;

      &:hover {
        text-decoration: underline;
      }

      img {
        width: 30px;
        height: 30px;
        margin-right: 10px;
      }
    }
  }
  
  p {
    padding-top: 20px;
    font-size: 14px;
    border-top: 1px #fff solid;
  }
}
