@media screen and (max-width: 810px) {
    .hero {
      .hero-text {
        max-width: 80%;
        padding: 15px;
  
        h1 {
          font-size: 28px;
        }
  
        p {
          font-size: 14px;
        }
      }
  
      .carousel {
        .carousel-inner {
          .carousel-item {
            img {
              height: 500px;
            }
          }
        }
      }
    }
  
    .product-section {
      h2 {
        font-size: 24px;
      }
  
      .product-grid {
        width: 100%;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
      }
    }
  
    .info-section {
      .info-item {
        h3 {
          font-size: 16px;
          margin-bottom: 10px;
        }
  
        p {
          font-size: 12px;
          margin-bottom: 10px;
          color: #555;
        }
  
        a {
          font-size: 12px;
          color: #555;
        }
      }
    }
  
    .newsletter {
      h2 {
        font-size: 18px;
      }
  
      p {
        font-size: 16px;
      }
  
      form {
        label {
          font-size: 16px;
          margin-bottom: 10px;
        }
  
        button {
          padding: 5px 15px;
          font-size: 14px;
        }
      }
    }
  
    .product-section {
      h2 {
        font-size: 24px;
      }
  
      .product-grid {
        width: 100%;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
      }
    }
  
    .info-section {
      .info-item {
        h3 {
          font-size: 16px;
          margin-bottom: 10px;
        }
  
        p {
          font-size: 12px;
          margin-bottom: 10px;
          color: #555;
        }
  
        a {
          font-size: 12px;
          color: #555;
        }
      }
    }
  
    .newsletter {
      h2 {
        font-size: 18px;
      }
      
      p {
        font-size: 16px;
      }
  
      form {
        label {
          font-size: 16px;
          margin-bottom: 10px;
        }
  
        button {
          padding: 5px 15px;
          font-size: 14px;
        }
      }
    }
  }
  
  @media screen and (max-width: 481px) {
    .hero {
      .hero-text {
        max-width: 90%;
        padding: 10px;
  
        h1 {
          font-size: 24px;
        }
  
        p {
          font-size: 12px;
        }
      }
  
      .carousel {
        .carousel-inner {
          .carousel-item {
            img {
              height: 400px;
            }
          }
        }
      }
    }
  
    .navbar-brand img {
      height: 80px;
      width: 80px;
    }
  
    .product-section {
      justify-content: space-around;
  
      h2 {
        font-size: 18px;
        padding: 10px;
        margin-top: 50px;
      }
  
      .product-grid {
        width: 100%;
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr;
  
        .product-item {
          text-align: center;
          width: 300px;
          padding: 5px;
          grid-column: span 1;
          grid-row: span 1;
  
          img {
            width: 200px;
            height: 320px;
            border-radius: 8px;
            margin-bottom: 10px;
          }
  
          .product-description {
            font-size: 14px;
          }
  
          .product-price {
            font-size: 16px;
          }
  
          .btn-add-to-cart {
            padding: 5px 10px;
            font-size: 14px;
          }
        }
      }
    }
  
    .info-section {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 20px;
  
      .info-item {
        text-align: left;
        margin: 10px;
      }
    }
  
    footer {
      font-size: 12px;
  
      div a span {
        display: none;
      }
  
      p {
        font-size: 12px;
      }
    }
  
    .nosotros-section {
      padding: 20px;
  
      h1 {
        font-size: 28px;
      }
  
      p {
        font-size: 16px;
        line-height: 1.6;
      }
    }
  
    .ubicacion-section {
      padding: 20px;
  
      h1 {
        font-size: 28px;
      }
  
      a {
        font-size: 16px;
      }
  
      div iframe {
        height: 200px;
      }
    }
  
    .envios-page {
      padding: 10px;
  
      h1 {
        font-size: 24px;
        margin-bottom: 20px;
      }
  
      h2 {
        font-size: 20px;
        margin-bottom: 15px;
      }
  
      h3 {
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: 10px;
      }
  
      p {
        font-size: 14px;
        margin-bottom: 10px;
      }
    }
  
    .cuotas-page {
      padding: 20px;
  
      h1 {
        font-size: 28px;
      }
  
      h2 {
        font-size: 24px;
      }
  
      p {
        font-size: 16px;
      }
    }
  
    .cambios-page {
      padding: 20px;
  
      h1 {
        font-size: 28px;
      }
  
      h2 {
        font-size: 24px;
      }
  
      p {
        font-size: 16px;
      }
    }
  }
  